body{
background-image:url("./images/background.svg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;
background-position: center;
background-color: lightblue;
font-family: Monospace;
color: black;

}
.title{
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
}

h1{
  font-size: 42;
  text-align: center;
  text-shadow: 5px;
  background-color:FF822E;
  margin: auto;

}

h2{
  padding: 20em, 10em;
  border-color: FF822E;
  border-radius:20px;
  border-style: solid;
  border-color: black;
  text-align: center;
  text-shadow: orange;
  background-color: orange;
}

h3, p{
  font-weight: bolder;
  font-style: oblique;
}

div div {
  width: 30%;
}

img{
  width: 30em;
  height: auto;;
  padding: 0px;
  margin: 0px;
}

#resources{
  font-style: italic;
  float:left;
  text-align: center;
  font-size: 32;
  font-weight: bolder;

}

span{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: currentColor;
}

ul#menu li {
    display:inline;
    float: left;
    padding-right: 10px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: overline;

  }


.buttons {
  display: inline;
  float: right;
  margin: 0 10px 10px 0;
}

header {
  padding: 20em, 10em;
  border-color: FF822E;
  border-radius:20px;
  border-style: solid;
  border-color: black;
  text-align: center;
  text-shadow: orange;
  background-color: orange;
  padding: 2em;
}


/*Floats*/

.float-left{
  float: left;
  margin: 0 10px 10px 0;
}

.float-right{
  float: right;
  margin: 0 0 10px 10px;
}

 /*Clear */

.clear{
  clear: both;
}



 /*Nicks Clearfix Hack
   http://nicolasgallagher.com/micro-clearfix-hack/
*/

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
